@import ../styles/_variables

.wrapper
  --header-height: 78px
  border-bottom: 1px solid $color-border
  position: fixed
  z-index: 10
  width: 100%
  top: var(--header-height)
  background: $color-gray-light

.menu
  margin: 0
  padding: 0
  list-style: none
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-content: stretch
  align-items: stretch

  li
    marign: 0
    padding: 0
    a
      display: block
      padding: 30px
      text-decoration: none
      color: $color-gray-medium
      position: relative
      transition: color .1s ease-out
      &.active
        font-weight: 500
      &:hover,
      &.active
        color: $color-gray-dark
      &::before
        display: block
        position: absolute
        content: ''
        width: calc(100% - 40px)
        height: 3px
        background-color: $color-blue
        left: 20px
        bottom: -1px
        opacity: 0
        transition: opacity .1s ease-out
      &.active::before
        opacity: 1
      

@media (max-width: map-get($breakpoints, 'xl'))

@media (max-width: map-get($breakpoints, 'lg'))

@media (max-width: map-get($breakpoints, 'md'))
  .wrapper
    --header-height: 68px

@media (max-width: map-get($breakpoints, 'sm'))
  .wrapper
    --header-height: 51px

  .menu
    li
      a
        padding: 10px 15px