// global variables
$color-gray-light: #f7f8f9
$color-gray-semilight: #d8d8d8
$color-gray-medium: #939495
$color-gray-dark: #1b1d1f
$color-blue: #007fb2
$color-green: #01ab5d
$color-yello: #e1bb00
$color-border: #e8e8e8
