// global style setup

@import "./_variables"
@import "../public/fonts/linearicons/style.css"


// bootstrap
@import "~bootstrap/scss/functions"
@import "~bootstrap/scss/variables"

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (xs: map-get($breakpoints, 'xs'), sm: map-get($breakpoints, 'sm'), md: map-get($breakpoints, 'md'), lg: map-get($breakpoints, 'lg'), xl: map-get($breakpoints, 'xl'))
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints")
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints")

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (sm: map-get($max-width, 'sm'), md: map-get($max-width, 'md'), lg: map-get($max-width, 'lg'), xl: map-get($max-width, 'xl'))
@include _assert-ascending($container-max-widths, "$container-max-widths")

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12
$grid-gutter-width: 30px
$enable-grid-classes: true

@import "~bootstrap/scss/mixins"
@import "~bootstrap/scss/root"
@import "~bootstrap/scss/reboot"
@import "~bootstrap/scss/type"
@import "~bootstrap/scss/grid"
@import "~bootstrap/scss/utilities"

// global personalizations
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap')

body
  font-family: 'Montserrat', Helvetica, Arial, sans-serif
  font-size: .85rem 
  line-height: 1.7

.border-gray
  border: 1px solid $color-border
.border-left-gray
  border-left: 1px solid $color-border
.border-right-gray
  border-right: 1px solid $color-border
.border-top-gray
  border-top: 1px solid $color-border
.border-bottom-gray
  border-bottom: 1px solid $color-border

button:focus
  outline: none

.circle-image
  border-radius: 50%
  overflow: hidden

button *
  cursor: pointer

body  
  background-color: $color-gray-light

.sticky-aside-content
  position: -webkit-sticky !important
  position: sticky !important
  top: 187px

.color-blue, 
.color-blue:hover, 
.color-blue:active, 
.color-blue:focus, 
.color-blue:visited, 
.color-blue *, 
.color-blue *:hover, 
.color-blue *:active, 
.color-blue *:focus, 
.color-blue *:visited
  color: $color-blue

.color-green, 
.color-green:hover, 
.color-green:active, 
.color-green:focus, 
.color-green:visited, 
.color-green *, 
.color-green *:hover, 
.color-green *:active, 
.color-green *:focus, 
.color-green *:visited
  color: $color-green

.color-yellow, 
.color-yellow:hover, 
.color-yellow:active, 
.color-yellow:focus, 
.color-yellow:visited, 
.color-yellow *, 
.color-yellow *:hover, 
.color-yellow *:active, 
.color-yellow *:focus, 
.color-yellow *:visited
  color: $color-yellow

.color-gray-dark, 
.color-gray-dark:hover, 
.color-gray-dark:active, 
.color-gray-dark:focus, 
.color-gray-dark:visited, 
.color-gray-dark *, 
.color-gray-dark *:hover, 
.color-gray-dark *:active, 
.color-gray-dark *:focus, 
.color-gray-dark *:visited
  color: $color-gray-dark

.bg-gray-lighter
  background-color: $color-gray-lighter

.bg-green
  background-color: $color-green

.bg-yellow
  background-color: $color-yellow

a
  color: $color-blue
  font-weight: 500
  &:hover
    color: $color-blue
    text-decoration: none

.wrapper-router-animation
  opacity: 0
  transform: translateX(-50px)

.wrapper-not-found
  background-color: $color-gray-light
  width: 100%
  height: calc(100vh - 163px)
  background-image: url('/images/404.svg')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover 
  text-align: center
  .heading
    font-style: normal
    font-weight: 200
    color: $color-gray-dark
    font-size: 1.5rem
    line-height: 1.2
    margin: 24px 0
  .subheading
    color: $color-gray-medium
    font-weight: normal
    line-height: 1.4
    font-size: 1rem
    margin-bottom: 20px


.not-found-cta
  display: inline-block
  padding: 6px 20px
  background-color: transparent
  border: 2px solid $color-blue
  color: $color-blue
  border-radius: 30px
  text-decoration: none
  font-weight: 500

// TinyMCE override
.tox-statusbar__branding
  display: none

// PLYR override
.plyr__controls
  padding-top: 10px !important

@media (max-width: map-get($breakpoints, 'sm'))
  .wrapper-not-found
    height: calc(100vh - 106px)